
 {{!-- ABOUT SECTION START --}}
  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col col-md-10 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your  usiness with us</p>
        <div class="row">
          {{!-- LEFT SIDE start --}}
 <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="images/about.svg" alt="hero" >
            </figure>
          </div>
         
          {{!-- left SIDE  end--}}

          {{!-- right side start --}}
          <div class="col-md-6 col-12  hero-text d-flex justify-content-center align-items-start flex-column ">
            <h1>WE ARE THE PROFESIONAL DEVELOPER</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p> welcome to <span class="bold_style"> codeworld</span> 
           , your number one source for all things. we're dedicated to giving you the veru best work, with a focus on {characteristics, ie: dependability. customer srvice and uniqueness} </p>
            <button class="btn-style btn-primary">Read More</button>
          </div>
          {{!-- right  side end --}}
        </div>
      </div>
    </div>
  </div>
  {{!-- ABOUT SECTION END --}}