{{!-- HERO SECTION START --}}
<div class="container-fluid about-style" id="serviceid">
    <div class="row">
        <div class="col col-md-10 mx-auto">
            <h1 class="text-center main-heading">Our Service</h1>
            <p class="text-center sub-heading">grow your usiness with us</p>
            <div class="row">
                <div class="col col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://i.imgur.com/6NKPrhO.png" alt="error">
                            </div>
                            <h4>setting</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img class="dow9" src="images/dow9.jpg" alt="error">
                            </div>
                            <h4>speedup</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="https://i.imgur.com/AgyneKA.png" alt="error">
                            </div>
                            <h4>privacy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="https://i.imgur.com/vdH9LKi.png" alt="error">
                            </div>
                            <h4>backups</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="https://i.imgur.com/v6OnUqu.png" alt="error">
                            </div>
                            <h4>ssl</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="col col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img class="dow7" src="images/dow7.jpg" alt="error">
                            </div>
                            <h4>database</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- HERO SECTION END --}}